/DHInfoDeskSol/.vs
/DHInfoDeskSol/output
/DHInfoDeskSol/test-results
/DHInfoDeskSol/workspace/DHInfoDesk/bin
/DHInfoDeskSol/workspace/DHInfoDesk/obj
/DHInfoDeskSol/workspace/DHInfoDesk.SmokeTest/obj
/DHInfoDeskSol/workspace/DHInfoDesk.SmokeTest/.vs
